<template>
  <div class="dashboard">
    <repo-dash v-for="repo in repos" :key="repo.id" :repo="repo" />
  </div>
</template>

<script lang="ts">
import { get } from 'vuex-pathify'
import RepoDash from './RepoDash.vue'

export default {
  components: {
    RepoDash,
  },
  props: {
    query: {
      type: String,
      required: true,
    },
  },
  computed: {
    repos: get('repos'),
  },
  watch: {
    query: {
      immediate: true,
      handler(newVal) {
        this.$store.dispatch('loadRepos', newVal)
      },
    },
  },
}
</script>

<style scoped>
.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
</style>
