<template>
  <b-card
    :title="repo.name"
    :img-src="repo.owner.avatar_url"
    img-alt="Image"
    img-top
    tag="article"
    style="max-width: 20rem"
    class="mb-2"
  >
    <b-card-text>
      {{ repo.desription }}
    </b-card-text>

    <b-button :href="repo.html_url" variant="primary" target="_blank">
      Open
    </b-button>
  </b-card>
</template>

<script>
import Vue from 'vue'

export default {
  components: {},
  props: {
    repo: {
      type: Object,
      required: true,
    },
  },
}
</script>
