<template>
  <div class="container">
    <div>
      <Logo />
      <h1 class="title">vue-test</h1>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="button--green"
        >
          Documentation
        </a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          rel="noopener noreferrer"
          class="button--grey"
        >
          GitHub
        </a>
      </div>
    </div>
    <div>
      <b-button @click="onShowVue">Vue</b-button>
      <b-button @click="onShowNuxt">Nuxt</b-button>
    </div>
    <div>
      <github-repos v-if="show.vue" query="vue" />
      <github-repos v-else query="nuxt" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import GithubRepos from '~/components/GithubRepos.vue'

export default Vue.extend({
  components: { GithubRepos },
  data() {
    return {
      show: {
        vue: true,
        nuxt: false,
      },
    }
  },
  methods: {
    onShowVue() {
      this.$set(this.show, 'vue', false)
      this.$set(this.show, 'nuxt', true)
    },
    onShowNuxt() {
      this.$set(this.show, 'vue', true)
      this.$set(this.show, 'nuxt', false)
    },
  },
})
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
